<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Loja e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
                        <div class="as-accessories-filter-tile column large-6 small-3">

                            <button class="as-filter-button" aria-expanded="true" aria-controls="as-search-filters"
                                type="button">
                                <h2 class=" as-filter-button-text">
                                    Smartphones
                                </h2>
                            </button>


                        </div>

                    </div>
                </div>
                <div class="as-accessories-results  as-search-desktop">
                    <div class="width:60%">
                        <div class="as-producttile-tilehero with-paddlenav " style="float:left;">
                            <div class="as-dummy-container as-dummy-img">

                                <img src="./assets/wireless-headphones" class="ir ir item-image as-producttile-image  "
                                    style="max-width: 70%;max-height: 70%;" alt="" width="445" height="445">
                            </div>
                            <div class="images mini-gallery gal5 ">


                                <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                                    <div class="clearfix image-list xs-no-js as-util-relatedlink relatedlink"
                                        data-relatedlink="6|Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red|MPXP2">
                                        <div class="as-tilegallery-element as-image-selected">
                                            <div class=""></div>
                                            <img src="./assets/003.jpg" class="ir ir item-image as-producttile-image"
                                                alt="" width="445" height="445"
                                                style="content:-webkit-image-set(url({{ img }}) 2x);">
                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>
                        <div class="as-producttile-info" style="float:left;min-height: 168px;">
                            <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
                                <div class="as-producttile-title">
                                    <h3 class="as-producttile-name">
                                        <p class="as-producttile-tilelink">
                                            <span data-ase-truncate="2"> {{ title }} </span>
                                        </p>

                                    </h3>
                                </div>
                                <h3>
                                    {{ price }}
                                </h3>
                                <h3>
                                    {{ unit }}
                                </h3>
                            </div>
                        </div>
                        <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js">
                            window.Mercadopago.setPublishableKey("TEST-6226973357766324-120714-737f825f1fedf6905a50e051e80da0ab-273610248");
                            window.Mercadopago.getIdentificationTypes();

                            function addEvent(to, type, fn) {
                                if (document.addEventListener) {
                                    to.addEventListener(type, fn, false);
                                } else if (document.attachEvent) {
                                    to.attachEvent('on' + type, fn);
                                } else {
                                    to['on' + type] = fn;
                                }
                            };

                            addEvent(document.querySelector('#cardNumber'), 'keyup', guessingPaymentMethod);
                            addEvent(document.querySelector('#cardNumber'), 'change', guessingPaymentMethod);

                            function getBin() {
                                const cardnumber = document.getElementById("cardNumber");
                                return cardnumber.value.substring(0, 6);
                            };

                            function guessingPaymentMethod(event) {
                                var bin = getBin();

                                if (event.type == "keyup") {
                                    if (bin.length >= 6) {
                                        window.Mercadopago.getPaymentMethod({
                                            "bin": bin
                                        }, setPaymentMethodInfo);
                                    }
                                } else {
                                    setTimeout(function () {
                                        if (bin.length >= 6) {
                                            window.Mercadopago.getPaymentMethod({
                                                "bin": bin
                                            }, setPaymentMethodInfo);
                                        }
                                    }, 100);
                                }
                            };

                            function setPaymentMethodInfo(status, response) {
                                if (status == 200) {
                                    const paymentMethodElement = document.querySelector('input[name=paymentMethodId]');

                                    if (paymentMethodElement) {
                                        paymentMethodElement.value = response[0].id;
                                    } else {
                                        const input = document.createElement('input');
                                        input.setAttribute('name', 'paymentMethodId');
                                        input.setAttribute('type', 'hidden');
                                        input.setAttribute('value', response[0].id);

                                        form.appendChild(input);
                                    }

                                    Mercadopago.getInstallments({
                                        "bin": getBin(),
                                        "amount": parseFloat(document.querySelector('#amount').value),
                                    }, setInstallmentInfo);

                                } else {
                                    alert(`payment method info error: ${response}`);
                                }
                            };
                            doSubmit = false;
                            addEvent(document.querySelector('#pay'), 'submit', doPay);
                            function doPay(event) {
                                event.preventDefault();
                                if (!doSubmit) {
                                    var $form = document.querySelector('#pay');

                                    window.Mercadopago.createToken($form, sdkResponseHandler); // The function "sdkResponseHandler" is defined below

                                    return false;
                                }
                            };

                            function sdkResponseHandler(status, response) {
                                if (status != 200 && status != 201) {
                                    alert("verify filled data");
                                } else {
                                    var form = document.querySelector('#pay');
                                    var card = document.createElement('input');
                                    card.setAttribute('name', 'token');
                                    card.setAttribute('type', 'hidden');
                                    card.setAttribute('value', response.id);
                                    form.appendChild(card);
                                    doSubmit = true;
                                    form.submit();
                                }
                            };
                        </script>
                        <div class="as-producttile-info" style="float:left;min-height: 168px;">
                            <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
                                <div class="as-producttile-title">
                                    <form action="/processar_pagamento" method="post" id="pay" name="pay">
                                        <fieldset>
                                            <ul>
                                                <li>
                                                    <label for="email">Email</label>
                                                    <input type="email" id="email" name="email"
                                                        value="test_user_19653727@testuser.com"
                                                        placeholder="your email" />
                                                </li>
                                                <li>
                                                    <label for="cardNumber">Credit card number:</label>
                                                    <input type="text" id="cardNumber" data-checkout="cardNumber"
                                                        placeholder="4509 9535 6623 3704" onselectstart="return false"
                                                        onpaste="return false" onCopy="return false"
                                                        onCut="return false" onDrag="return false" onDrop="return false"
                                                        autocomplete=off />
                                                </li>
                                                <li>
                                                    <label for="securityCode">Security code:</label>
                                                    <input type="text" id="securityCode" data-checkout="securityCode"
                                                        placeholder="123" onselectstart="return false"
                                                        onpaste="return false" onCopy="return false"
                                                        onCut="return false" onDrag="return false" onDrop="return false"
                                                        autocomplete=off />
                                                </li>
                                                <li>
                                                    <label for="cardExpirationMonth">Expiration month:</label>
                                                    <input type="text" id="cardExpirationMonth"
                                                        data-checkout="cardExpirationMonth" placeholder="11"
                                                        onselectstart="return false" onpaste="return false"
                                                        onCopy="return false" onCut="return false" onDrag="return false"
                                                        onDrop="return false" autocomplete=off />
                                                </li>
                                                <li>
                                                    <label for="cardExpirationYear">Expiration year:</label>
                                                    <input type="text" id="cardExpirationYear"
                                                        data-checkout="cardExpirationYear" placeholder="2025"
                                                        onselectstart="return false" onpaste="return false"
                                                        onCopy="return false" onCut="return false" onDrag="return false"
                                                        onDrop="return false" autocomplete=off />
                                                </li>
                                                <li>
                                                    <label for="cardholderName">Card holder name:</label>
                                                    <input type="text" id="cardholderName"
                                                        data-checkout="cardholderName" placeholder="APRO" />
                                                </li>
                                                <li>
                                                    <label for="docType">Document type:</label>
                                                    <select id="docType" data-checkout="docType"></select>
                                                </li>
                                                <li>
                                                    <label for="docNumber">Document number:</label>
                                                    <input type="text" id="docNumber" data-checkout="docNumber"
                                                        placeholder="19119119100" />
                                                </li>
                                                <li>
                                                    <label for="installments">Installments:</label>
                                                    <select id="installments" class="form-control"
                                                        name="installments"></select>
                                                </li>
                                            </ul>
                                            <input type="hidden" name="amount" id="amount" />
                                            <input type="hidden" name="description" />
                                            <input type="hidden" name="paymentMethodId" />
                                            <input type="submit" value="Pay!" />
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>